{% extends "layout.html" %}
{% block content %}



<!-- informaciones carrusel-->

<!-- carrusel-->

            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner" ;>


                    <!-- primera imagen-->
                    <div class="carousel-item active" data-bs-interval="10000">
                        <a href="" >
                            <img class="d-block w-100" alt="..." width="1200px" height="600px"
                            src="https://i4.visitchile.com/img/GalleryContent/233/slider/Morro_de_Arica.jpg">
                        <div class="carousel-caption d-none d-md-block">
                            <h5></h5> <!-- titulo imagen-->
                            <p></p> <!-- comentario imagen-->
                        </div>
                        </a>
                        
                    </div>
                    <!-- segunda imagen-->
                    <div class="carousel-item" data-bs-interval="2000">
                        <img class="d-block w-100" alt="..."  width="1200px" height="600px"
                            src="https://ligup-v2.s3.amazonaws.com/arica/users/70438_banner_arica.jpg">
                        <div class="carousel-caption d-none d-md-block">
                            <h5></h5> <!-- titulo imagen-->
                            <p></p> <!-- comentario imagen-->
                        </div>
                    </div>
                    <!-- tercera imagen-->
                    <div class="carousel-item" data-bs-interval="2000">
                        <img class="d-block w-100" alt="..." width="1200px" height="600px"
                            src="https://usmcl-my.sharepoint.com/personal/nicole_pinto_13_sansano_usm_cl/Documents/imagenes/negro.png">
                        <div class="carousel-caption d-none d-md-block">
                            <h5></h5> <!-- titulo imagen-->
                            <p></p> <!-- comentario imagen-->
                        </div>
                    </div>


                <!-- comandos-->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span><!-- cambiar forma de flecha-->
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span> <!-- cambiar forma de flecha-->
                </button>
            </div>
       
<!-- carrusel-->


<!--  termino informaciones carrusel-->


<!-- PRIMERA SECCION -->

        <!-- titulos -->

<div class="col 12 text-center mt-5">
    <h1 class="text-ligth pt-4">Cómo llegar</h1>
    <div class="border-top border-warning w-50 mx-auto my-4"></div>
    <p class="lead">¿Necesitas ayuda para llegar? </p>
    <p class="">Selecciona tu medio de transporte y sigue nuestras indicaciones para llegar sin problemas a tu destino. </p>
    <div class="">Dirección: Av. Santa María #2395, Arica, Región de Arica y Parinacota, Chile.
    </div>
  </div>
        <!-- tres columnas -->

  <div class="container">
    <div class="row my-5">
      <div class="col-md-4 my-4">
        <img src="https://www.aeropuertos.net/wp-content/uploads/2012/12/38932-1024x685.jpg" alt="" class="w-100"  height="150px" >
        <h4 class="my">Desde Aeropuerto</h4>
        <p>debes....</p>
        <a href="" class="btn btn-outline-warning btn btn-md">Instrucciones</a>
      </div>


      <div class="col-md-4 my-4">
        <img src="https://www.horariodebuses.cl/images/terminales/terminal-arica.jpg" alt="" class="w-100"  height="150px">
        <h4 class="my">Desde Terminasl de Buses</h4>
        <p>debes....</p>
        <a href="" class="btn btn-outline-warning btn btn-md">Instrucciones</a>
      </div>


      <div class="col-md-4 my-4">
        <img  src="https://www.tuseguro.com/pe/pe/images/images/Blog/Contenido_Epico/prepara-tu-auto-viaje-5-tips-disfrutar/auto_mapa.jpg" alt="" class="w-100"  height="150px">
        <h4 class="my">En auto</h4>
        <p>debes....</p>
        <a href="" class="btn btn-outline-warning btn btn-md">Instrucciones</a>
      </div>


    </div>
</div>

  <!-- termino primera seccion-->

<!-- SECCION DOS-->

<!-- borde-->
<a class="navbar bg-warning sticky emoji" href="#emoji" role="button"
data-toggle="collapse"></a>
<!-- fin borde-->


<!-- imagen inamovible-->
<div class="fixed-background bg-caption">
<div class="row text-warning py-5">
    <div class="col-12 bg-custom text-center py-3">
        <h1>Arica</h1>

        <h3>Ciudad de la eterna primavera</h3>     <!-- escritura-->
        <!-- botones
        <button type="button" data-toggle="modal" data-target="#modal1"
         class="btn btn-primary btn.lg mr-2"> playas</button>
         <button type="button" data-toggle="modal" data-target="#modal1"
         class="btn btn-danger btn.lg mr-2"> morro</button>


         fin botones-->
    </div>
</div>
    <div class="fixed-wrap">
        <div class="fixed">


        </div>
    </div>
</div>




<!-- borde inferior-->
<a class="navbar bg-warning sticky emoji" href="#emoji" role="button"
data-toggle="collapse"></a>

<!-- fin borde inferior-->


<!-- botones -->
<div class="modal face" id="modal1">
    <div class="modal-dialog">
        <ima scr="" alt="" class="w-100"></ima>

    </div>
</div>

  <!-- termino segunda seccion-->

<!-- SECCION TRES-->
<!-- Departamentos-->
  <div class="col 12 text-center mt-5">
    <h1 class="text-light pt-4">Departamentos</h1>
    <div class="border-top border-warning w-50 mx-auto my-4"></div>
    <p class="lead"> </p>
    <p class="">
    
        Hospedaje Katari cuenta con seis departamentos independientes cada uno posee:        
    </p>
    
  </div>
  


  <div class="container ni-caption">
    <div class="row">
      <div class="col-4 text-center">
        <i class="bi bi-wifi text-light  h1"></i>
        <h3>WIFI</h3>
      </div>
      <div class="col-4 text-center">
        <i class="bi bi-tv text-light h1"></i>
        <h3>TV Y CABLE</h3>
      </div>
      <div class="col-4 text-center">
        <i class="bi bi-tv text-light h1"></i>
        <h3>ESTACIONAMIENTO</h3>
      </div>
  
      <!-- Force next columns to break to new line at md breakpoint and up -->
      <div class="w-100 d-none d-md-block"></div>
  
      <div class="col-4 text-center">
        <i class="bi bi-wifi text-light h1"></i>
        <h3>AGUA CALIENTE</h3>
      </div>
      <div class="col-4 text-center">
        <i class="bi bi-tv text-light h1"></i>
        <h3>CERCA DEL TERMINAL DE BUSES</h3>
      </div>
      <div class="col-4 text-center">
        <i class="bi bi-tv text-light h1"></i>
        <h3>A PASOS DE LA PLAYA</h3>
      </div>
    </div>
  </div>

<!-- tipos de depas-->
  <div class="col 12 text-center mt-5 t1-caption">
    <h1 class=" pt-4">¿Que estas buscando?</h1>
  </div>
  <!-- carrusel de depas -->

<div class="container">
    <div class="row">
        <div class="col s12">

            

            <div  id="carrusel2" class="carousel slide center-align " data-bs-ride="carousel">
                
                  <div class="carousel-item active">
                    <h2 class="serpiente-nombre">Anaconda</h2>
                    <div class="linea-division"></div>
                    <p class="serpiente-caption">grande</p>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRw6moL-O7aVMcpY3RBZms--xg9ISmvGo6Y62Yb0-47qAI-qp_ffeHGZ2v0S9RnC8KScRg&usqp=CAU" 
                    class="d-block w-100" alt="...">
                  </div>

                  <div class="carousel-item">
                    <h2 class="serpiente-nombre">Boa</h2>
                    <div class="linea-division"></div>
                    <p class="serpiente-caption">grande</p>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRw6moL-O7aVMcpY3RBZms--xg9ISmvGo6Y62Yb0-47qAI-qp_ffeHGZ2v0S9RnC8KScRg&usqp=CAU" 
                    class="d-block w-100" alt="...">
                  </div>
                  
                  <div class="carousel-item">
                    <h2 class="serpiente-nombre">cascabel</h2>
                    <div class="linea-division"></div>
                    <p class="serpiente-caption">grande</p>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRw6moL-O7aVMcpY3RBZms--xg9ISmvGo6Y62Yb0-47qAI-qp_ffeHGZ2v0S9RnC8KScRg&usqp=CAU" 
                    class="d-block w-100" alt="...">
                  </div>
                
              </div>
            
                
            


        </div>
    </div>

</div>


<!-- fin-->




<!-- imagenes prueba -->
<!-- 
https://mayurutour.com/wp-content/uploads/2020/01/catedral-san-marcos.jpg 
https://i4.visitchile.com/img/GalleryContent/233/slider/Morro_de_Arica.jpg
https://ligup-v2.s3.amazonaws.com/arica/users/70438_banner_arica.jpg -->
{% endblock %}